* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: pink;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-family: 'Kaushan Script', cursive;
}
header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: pink;
}

.menu{
    display: flex;
    flex-wrap: wrap;
}
        .product-card {
            width: 350px;
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            display: flex;
            border-radius: 10px;
        }
    
        .product-image {
            width: 200px;
            max-height: 200px;
            object-fit: cover;
        }
    
        .product-details {
            flex: 1;
            /* Membuat bagian ini mengisi sebanyak mungkin ruang yang tersedia */
            padding: 10px;
        }
    
        .product-title {
            font-size: 18px;
            margin-top: 0;
        }
    
        .product-price {
            font-size: 16px;
            color: #e74c3c;
        }
    
        .product-description {
            font-size: 14px;
            margin-top: 10px;
        }
    
        .product-button {
            background-color: pink;
            color: #fff;
            border: none;
            padding: 8px 16px;
            margin-top: 10px;
            cursor: pointer;
        }
    
        .product-button:hover {
            background-color: rgb(235, 111, 132);
        }