@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    font-family: 'Poppins, sans-serif';
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px  100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 50px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    position: relative;
    max-width: 600px;
}

.content .textbox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    
}

.content .textbox h2 span {
    color: pink;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textbox p {
    color: #333;
}

.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px  20px;
    background: pink;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.contact a img {
    width: 40px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: pink;
}
